.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: block;
}

.btn {
  margin: 5px 10px;
}

h3 {
  margin-top: 90px;
}

.result {
  width: auto;
  height: 20px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}
.signature{
  position: absolute;
  bottom: 0px;
  right: 0px;
}